<div id="daily_diary_page" class="page_class">
    <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>日間日記</h2>
      </div>

      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="col-sm-6">
                <label for="familyName" class="form-label">タイトル</label>
                <input type="text" class="form-control" id="familyName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  名字を入力してください
                </div>
              </div>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="familyName" class="form-label">姓</label>
                <input type="text" class="form-control" id="familyName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  名字を入力してください
                </div>
              </div>
              <div class="col-sm-6">
                <label for="givenName" class="form-label">名</label>
                <input type="text" class="form-control" id="givenName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  名前を入力してください
                </div>
              </div>

              <div class="col-12">
                <label class="form-label">カテゴリ</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                    開発
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                    サーバ
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                    ネットワーク
                    </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    AWS
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    コマンドライン
                </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    OS
                </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    ミドルウェア
                </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    エラー対応
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    その他
                </label>
                </div>
              </div>

              <div class="col-16">
                <div class="input-group">
                    <span class="input-group-text">内容</span>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
              </div>

              <div class="col-16">
                <div class="input-group">
                    <span class="input-group-text">参照</span>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
              </div>

              <div class="col-12">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
              </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit">日記を出す</button>
          </form>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2017−2024 会社名</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">プライバシー</a></li>
        <li class="list-inline-item"><a href="#">条項</a></li>
        <li class="list-inline-item"><a href="#">サポート</a></li>
      </ul>
    </footer>
  </div>

</div>